.grey-color {
  color: #828282; /* grey-color */
}

.green-color {
  color: #00ab37; /* green-color */
}

.cyan-color {
  color: #2698ba; /* cyan-color */
}

.blue-color {
  color: #0076df; /* blue-color */
}

.purple-color {
  color: #b509ac; /* purple-color */
}

.orange-color {
  color: #f29105; /* orange-color */
}

.red-color {
  color: #ff3636; /* red-color */
}
